<%- include("../partials/header"); %>

 <div class="container-fluid pt-5">

    <section id="mainHead" class="pt-2 container">
      <div class="jumbotron mt-2 shadow-lg text-center">
        <div class="d-flex flex-column align-items-center">
          <h1 class=""><i class="fas fa-campground"></i> Welcome to the YelpCamp</h1>
          <p class="lead">View our hand-picked camprounds from all of the world</p>
          <p class="lead">
            <a href="/campgrounds/new" class="btn btn-info btn-lg"
              >Add new Campground
            </a>
          </p>
        </div>
      </div>
    </section>

    <section id="mainContent" class="container-fluid-md">
      <div class="row my-4">
        <%campgrounds.reverse().forEach(element => {%>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
            <div class="card border-0 m-0 mb-4" style="width:18rem">
              <img class="card-img img-fluid" src="<%=element.image  %> " alt="Not Loaded" />
              
              <div class="card-body border border-primary">
                  <p class="lead card-title">
                      <h4><%= element.name %></h4>
                    </p>
                    <p class="lead card-text">
                      <%= element.description.substring(0,30) %>... 
                    </p>
                      <a href="/campgrounds/<%= element._id %> " class="btn btn-info">More Info!</a>
                 
              </div>
            </div>
        </div>
        <% }); %>
      </div>
      <a href="/">Go Back!!</a>
      </div>
    </section>
<%- include("../partials/footer"); %>
